body {
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(129,35,23,1) 100%);
    text-align: center;
}

.main-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    color: wheat;
}

.rosa-image {
    width: 1620px;
    height: 780px;
}