body {
    background-color: blueviolet;
    text-align: center;
}

.main-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    color: wheat;
}

.rosa-image {
    width: 1620px;
    height: 780px;
}